# Glance dashboard
dashboard.{env.DOMAIN} {
	reverse_proxy glance:{env.GLANCE_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Komga service
library.{env.DOMAIN} {
	reverse_proxy komga:{env.KOMGA_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Jellyfin service
media.{env.DOMAIN} {
	reverse_proxy jellyfin:{env.JELLYFIN_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Jellyseerr service
media-request.{env.DOMAIN} {
	reverse_proxy jellyseerr:{env.JELLYSEERR_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Radarr service
radarr.{env.DOMAIN} {
	reverse_proxy radarr:{env.RADARR_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Sonarr service
sonarr.{env.DOMAIN} {
	reverse_proxy sonarr:{env.SONARR_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Suwayomi service
manga.{env.DOMAIN} {
	reverse_proxy suwayomi:{env.SUWAYOMI_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Prowlarr service
prowlarr.{env.DOMAIN} {
	reverse_proxy prowlarr:{env.PROWLARR_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Cockpit (proxy to host)
admin.{env.DOMAIN} {
	reverse_proxy host.docker.internal:{env.COCKPIT_PORT} {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}
