# Glance dashboard
dashboard.{env.DOMAIN} {
	reverse_proxy glance:{env.GLANCE_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Dokploy UI (remote server)
dokploy.{env.DOMAIN} {
	reverse_proxy host.docker.internal:{env.DOKPLOY_UI_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Ollama API (remote server)
ollama.{env.DOMAIN} {
	reverse_proxy ollama:{env.OLLAMA_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Komga service
library.{env.DOMAIN} {
	reverse_proxy komga:{env.KOMGA_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Jellyfin service
media.{env.DOMAIN} {
	reverse_proxy jellyfin:{env.JELLYFIN_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Jellyseerr service
jellyseerr.{env.DOMAIN} {
	reverse_proxy jellyseerr:{env.JELLYSEERR_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Radarr service
radarr.{env.DOMAIN} {
	reverse_proxy radarr:{env.RADARR_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Sonarr service
sonarr.{env.DOMAIN} {
	reverse_proxy sonarr:{env.SONARR_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Suwayomi service
manga.{env.DOMAIN} {
	reverse_proxy suwayomi:{env.SUWAYOMI_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Prowlarr service
prowlarr.{env.DOMAIN} {
	reverse_proxy prowlarr:{env.PROWLARR_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Nextcloud service 
drive.{env.DOMAIN} {
	reverse_proxy nextcloud:{env.NEXTCLOUD_DOCKER_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# AdGuard Home service 
adguard.{env.DOMAIN} {
	reverse_proxy adguardhome:{env.ADGUARD_DOCKER_HTTP_PORT}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Portainer service
portainer.{env.DOMAIN} {
	reverse_proxy https://portainer:9443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

# Cockpit (proxy to host)
admin.{env.DOMAIN} {
	reverse_proxy host.docker.internal:{env.COCKPIT_PORT} {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
